/* for all screens */
#info {display: none;}

html {
    background-color: #ffffff;
}

#root {
  width: 100vw;
  height: 108vh;
}

div#vizContainer {
    margin: 0 6rem;
}

* {
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    -webkit-text-size-adjust: 100%;

    @starting-style {
        opacity: 0;
    }
}

/* only when orientation is in portrait mode */
@media all and (orientation:portrait) {
    #info {
         position: absolute;
         width: 100%;
         height: 100vh;
         line-height: 100vh;
         top: 0;
         left: 0;
         z-index: 9998;
         display: block;
         overflow-y: hidden;
         overflow-x: hidden;
         background-color: rgba(0, 0, 0, 0.5);
         text-align: center;
         color: #FFFFFF;
         font-size: 4vw;
    }
}

div.bottomHalf {
    height: fit-content;
    position: relative;
    max-width: 1400px;
    margin: 0px auto;
}

/* for all screens */
#info {display: none;}

/* only when orientation is in portrait mode */
@media all and (orientation:portrait) {
    #info {
         position: absolute;
         width: 100%;
         height: 100vh;
         line-height: 100vh;
         top: 0;
         left: 0;
         z-index: 9998;
         display: block;
         overflow-y: hidden;
         overflow-x: hidden;
         background-color: rgba(0, 0, 0, 0.5);
         text-align: center;
         color: #FFFFFF;
         font-size: 4vw;
    }
}

@media screen and (min-width: 300px) {
    div {
       font-size: 12px;
    }
  }

  @media screen and (max-width: 667px) and (orientation: landscape) {
    div {
        pointer-events: none;
    }
  }

#nameTitleContainer {
background-color: #6666ff;
padding-bottom: 1vh;
}

body {
    background: #fff;
    font-family: 'Lato', sans-serif;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

#vizContainer {
    margin-left: 1%;
    margin-right: 1%;
}

.border {
    border: 1px solid #6666ff;
    border-radius: 8px;
    box-shadow: 0 0 3px 2px #6666ff;
    height: 91%;
    margin-top: 2%;
}

.bottomHalfLeft {
    width: 45%;
    height: 100%;
    display: inline-block;
}

.bottomHalfLeft > svg {
    height: inherit;
}

#ganttContainer {
    height: fit-content;
    max-width: 1400px;
    margin: 1rem auto;
}

.titleContainer {
    background-color: #6666ff;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    overflow: auto;
    text-align: center;
    display: block;
    align-content: center;
}

.titleContainer > p {
    margin: 0;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
}

.bottomHalfRight {
    max-width: 800px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-top: 1vh;
    --r: 577.4 / 250.52;

    aspect-ratio: var(--r);
}

/* Other Styles for Layout */
div#contentContainer > h3 {
  margin-bottom: 0px;
}

div#contentContainer > h3:first-of-type {
  margin-top: 0px;
}

h1,
h2,
h3,
div#info > p {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #fff;
}

div#info > p {
    font-weight: bold;
    font-size: 16px;
}

p, #text, text, li {
    font-family: 'Lato', sans-serif;
    color: #000;
}

h1 {
    /*line-height: 5rem;*/
    padding-top: 1.5%;
    margin-bottom: 0px;
    margin-top: 0px;
    letter-spacing: 1px;
}

h2 {
    margin-top: 0px;
}

h3 {
    font-weight: bold;
    margin: unset;
}

/* Base Styles (Desktop or Large Screens) */
h1 {
    font-size: 2.25rem;
}
h2 {
  font-size: 1.15rem;
}
div.titleContainer > h3 {
    font-size: 1.15rem;
}
p {
  font-size: 0.85rem;
}
li {
  font-size: 0.85rem;
}

/* Tablet Layout Styles */
@media screen and (max-width: 1200px) {
    div#vizContainer {
        margin: 0 2rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
      font-size: .85rem;
    }
    div.titleContainer > h3 {
        font-size: .85rem;
    }
    p {
      font-size: 0.75rem;
    }
    li {
      font-size: 0.75rem;
    }
}

/* Tablet Styles */
@media screen and (max-width: 1024px) {
    div#vizContainer {
        margin: 0 1rem;
    }
    h1 {
        font-size: 1.25rem;
    }
    h2 {
      font-size: 0.75rem;
    }
    div.titleContainer > h3 {
        font-size: 0.75rem;
    }
    p {
      font-size: 0.6rem;
    }
    li {
      font-size: 0.6rem;
    }
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    div#vizContainer {
        margin: 0 0rem;
    }
  h1 {
      font-size: 1rem;
  }
  h2 {
      font-size: .45rem;
  }
  div.titleContainer > h3 {
      font-size: .45rem;
  }
  p {
      font-size: .35rem;
  }
  li {
      font-size: .35rem;
  }
}

  
